<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Registry </title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
    <style>
    h1 {
      background-image: url("views/layouts/assest/healthy-food-slateboard-with-copy-space.jpg ");
      background-size: cover;
      /* Additional background properties can be added as needed */
    }
  </style>
  </head>

<body>

  <body>
      <div>
    <h1>Welcome to Munch O Meter Home Page!</h1> 
    </div>

    <h2>Main Menu:</h2>
    {{!-- <style>
        li {  font-size: 30px; 
        font-weight: 
               }
    </style> --}}
    <ul>
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Log In</a></li>
        <li><a href="/">Home</a></li>
    </ul>

  <header class="display-flex justify-space-between align-center p-2">
    <h1>
      What king of information do we want here
    </h1>

    <br>
    <div> <h2> What is  your name? ayudar</h2></div>
  
  </header>
  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>
  <footer>
      
  </footer>
</body>

</html>
